.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 90px;
}

.App-header {
  background-color: black;
  height: 159px;
  padding: 10px;
  color: #d9facd;
  font-size: 5rem;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
